.App {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(48px + 2vmin);
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  text-transform: uppercase;
}

.App-logo {
  height: 40vmin;
}

.App .is-positive {
  color: #61dafb;
}

.App .is-negative {
  color: red;
}

.App-link {
  color: #61dafb;
}
